body {
	font-family: Arial;
	color: slategray;
  padding: 25px;
}

.crypto {
  width: 650px;
  height: 350px;
  display: block;  
  margin-left: auto;  
  margin-right: auto;  
  border: 8px ridge orange;  
  padding: 5px;
}

.title {
  text-align: center;
  
}

header {
  color: purple;
  font-weight: 100;
}

h1 {
	font-size: 300%;	
}

h1,
h2,
h3 {
	color: orange;
	text-transform: up;
	font-weight: 100;
}

img {
	width: 100%;
}

/* Add your styles here */
footer {
	margin-top: 70px;
	background-color: gray;
	color: white;
}

footer p {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}