body {
	font-family: Arial;
	color: slategray;
  padding: 25px;
}

header {
  color: purple;
  font-weight: 100;
}

h1 {
	font-size: 300%;	
}

h1,
h2,
h3 {
	color: orange;
	text-transform: up;
	font-weight: 100;
}

img {
	width: 100%;
}

/* Add your styles here */
footer {
	margin-top: 70px;
	background-color: gray;
	color: white;
}

footer p {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}